  <h2>Register List</h2>
  <nz-table *ngIf="!isLoading" [nzData]="registers" nzBordered nzSize="middle">
    <thead>
      <tr>
        <th nzWidth="10%">ID</th>
        <th nzWidth="10%">Sensor ID</th>
        <th nzWidth="10%">Room ID</th>
        <th nzWidth="30%">Create At</th>
        <th nzWidth="30%">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let register of registers">
        <td>{{ register.id }}</td>
        <td>{{ register.sensor_id }}</td>
        <td>{{ register.room_id }}</td>
        <td>{{ register.createdAt }}</td>
        <td>{{ register.location }}</td>
      </tr>
    </tbody>
  </nz-table>

